
/* NAVBAR */

.navbar-brand{
    color: #fff;
}

.navbar-brand:hover{
    color: #F5DF4D;
}

.nav-link{
    color: #fff;
}

.nav-link:hover{
    color: #F5DF4D;
}

/* BERANDA */
.parent_beranda {
    display: flex;
    justify-content: center;
    align-items: center;
}

.childern_beranda {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.childern_beranda h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.childern_beranda p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #F5DF4D;
}

/* TENTANG SAYA */
.parent_foto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fotoku{
    position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.parent_tentang {
    display: flex;
    justify-content: center;
    align-items: center;
}

.childern_tentang {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.judul_tentangsaya{
    margin-top: 4em;
}

.judul_tentangsaya h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #F5DF4D;
}

.desc_tentangsaya{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
}

/* KARYA */
.head_karya h1{
    padding-top: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.desain {
    padding-top: 2em;
}

.desain h4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    background-color: #F5DF4D;
}

.kartu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 20rem;
}

.card:hover{
    box-shadow: 5px 10px 20px 1px #F5DF4D !important;
}

.card-body{
    padding: 3rem 0 !important;
}

.card-text{
    font-size: 0.9rem;
    padding: 0.4rem 1.9rem;
}

.container-fluid{
    padding-top: 1rem;
}

.photography {
    padding-top: 3em;
    padding-bottom: 5em;
}

.photography h4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    background-color: #F5DF4D;
}

/* KONTAK */
.contact-section{
    background: url(bg.png) no-repeat center;
    background-size: cover;
    padding: 5em 0;
  }
  .contact-section h1{
    text-align: center;
    color: #F5DF4D;
  }
  .border{
    width: 100px;
    height: 10px;
    background: #34495e;
    margin: 40px auto;
  }
  
  .contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
  }
  
  .contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #F5DF4D;
    transition: 0.5s;
  }
  .contact-form-text:focus{
    box-shadow: 0 0 10px 4px #34495e;
  }
  textarea.contact-form-text{
    resize: none;
    height: 120px;
  }
  .contact-form-btn{
    float: right;
    border: 0;
    background: gray;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
  }
  .contact-form-btn:hover{
    background: #F5DF4D;
  }
  

